@model TiyatroGosterisi.Models.Entity.Yonetmen
@{

    ViewBag.Title = "YonetmenEkle";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<style>
.alan {
        height: 100%;
        width: 60%;
        margin-left: 20%;
    }

    label {
        color: #2c3e50;
        margin-right: 20px;
        margin-top: 20px;
        font-weight: bold;
        font-size: 20px;
    }

    #btn, .btn {
        background-color: #1abc9c;
        border-color: #2c3e50;
        color: #ffffff;
        padding: 10px;
        border-radius: 5px;
        display: inline-block;
        font-weight: 400;
        text-align: center;
        vertical-align: middle;
        margin-right: 10px;
    }

    #btn:hover, .btn:hover {
        background-color: #2c3e50;
        color: #ffffff;
        text-decoration: none;
    }       
</style>

<form class="form-group" method="post">
    <div class="alan">
        <label>Yönetmen Adı</label>
        <input type="text" class="form-control" name="YonetmenAdi" style="border: 2px solid #2c3e50" />
        <label>Ödül Sayısı</label>
        <input type="text" class="form-control" name="YonetmenOdulSay" style="border: 2px solid #2c3e50" />
        <label>Eser Sayısı</label>
        <input type="text" class="form-control" name="YonetmenEserSay" style="border: 2px solid #2c3e50" />
        <div style="margin-top:15px">
            <button class="btn" id="btn">Yönetmen Ekle</button>
            <a href="/Yonetmen/Index/" class="btn">Listeye Dön</a>
        </div>
    </div>
</form>