@model TiyatroGosterisi.Models.Entity.Yonetmen
@{
    ViewBag.Title = "YonetmenGetir";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<style>
    #btn, .btn {
        background-color: #1abc9c;
        border-color: #2c3e50;
        color: #ffffff;
        padding: 10px;
        border-radius: 5px;
        display: inline-block;
        font-weight: 400;
        text-align: center;
        vertical-align: middle;
        margin-right: 10px;
    }

        #btn:hover, .btn:hover {
            background-color: #2c3e50;
            color: #ffffff;
            text-decoration: none;
        }

    label {
        color: #2c3e50;
        margin-right: 20px;
        margin-top: 20px;
        font-weight: bold;
        font-size: 20px;
    }

    option {
        background-color: #2c3e50;
        color: #ffffff;
    }
</style>

@using (Html.BeginForm("YonetmenGuncelle", "Yonetmen", FormMethod.Post))
{
<div class="form-group">
    <label>Yönetmen Numarası</label>
    <div style="border: 2px solid #2c3e50; border-radius: 5px">@Html.TextBoxFor(t => t.YonetmenId, new { @class = "form-control" })</div>

    <label>Yonetmen Adı</label>
    <div style="border: 2px solid #2c3e50; border-radius: 5px">@Html.TextBoxFor(t => t.YonetmenAdi, new { @class = "form-control" })</div>

    <label>Ödül Sayısı</label>
    <div style="border: 2px solid #2c3e50; border-radius: 5px">@Html.TextBoxFor(t => t.YonetmenOdulSay, new { @class = "form-control" })</div>

    <label>Eser Sayısı</label>
    <div style="border: 2px solid #2c3e50; border-radius: 5px">@Html.TextBoxFor(t => t.YonetmenEserSay, new { @class = "form-control" })</div>
    <br />
    <button class="btn" id="btn">Güncelle</button>
    <a href="/Yonetmen/Index/" class="btn">Listeye Dön</a>
</div>
}
